*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 10%;
    font-family: sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.cuadro{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bandera{
    width: 30%;
    height: 200px;
    
    margin: 5px;
}
.armenia{
    background-image: linear-gradient(red 33%,blue 33% 66%, rgb(238, 241, 48) 66%);
}
.belgica{
    background-image: linear-gradient(to right,black 33%,yellow 33% 66%,red 66%); 
}
.estonia{
    background-image: linear-gradient(rgb(62, 174, 218) 33%,rgb(255, 255, 255) 33% 36%,rgb(0, 0, 0) 36% 63%,rgb(255, 255, 255) 63% 66%, rgb(62, 174, 218) 66%); 
}
.etiopia{
    background-image: linear-gradient(to right,green 40%, transparent 40%),linear-gradient(to bottom,yellow 50%,red 50%);
}
.ghana{
    background-image: linear-gradient(130deg,green 33%,yellow 33% 66%,red 66%);
}
.seychelles{
    background-color: green;
    background-image: linear-gradient(110deg,rgb(0, 41, 128) 17%, transparent 10%),linear-gradient(145deg,rgb(224, 221, 3) 44%, transparent 10%),linear-gradient(167deg,rgb(224, 3, 3) 70%, transparent 10%),linear-gradient(174deg,rgb(255, 255, 255) 85%, transparent 10%);
}